
@media(min-width: 768px) and (max-width: 2000px){
	.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background-color: rgba(0,0,0,0.7);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mobile-stckyFooter{display: none !important;}	

}

@media(max-width: 1024px){
  .gmline-tbl{width: 100%; overflow-x: scroll;}
}

@media(min-width: 768px) and (max-width: 1024px){
/***********header-css**********/
.navbar-brand img{ width: 45% !important;}

/***********banner-css**********/
.carousel-caption p{font-size: 22px; line-height: 32px; padding: 0 0;}
.carousel-caption h1{font-size: 52px; line-height: 62px;}
.carousel-caption { bottom: 55px;}
.navbar{padding: 30px 10px !important;}
.navbar-nav > li{ margin-right: 10px;}
.navbar-nav > li > a{font-size: 12px; padding: 14px 7px !important;}

.lj-group{padding: 44px 0 !important;}
.lj-group a:last-child{width: 56px; padding: 0px 0;}
.lj-group a:first-child{margin-right: 5px;}
.lj-group a{font-size: 11px;}
.social-link{padding: 44px 0px !important;}

/***********banner-bottom-css**********/
.service-box a p{font-size: 13px; line-height: 23px;}
.service-box img{ margin-bottom: 7px; margin-top: 20px; width: 55px;}
.service-box h3{font-size: 26px;}

/***********body-css**********/
.table td h2{font-size: 18px;}
.table-inner tr td span:first-child{width: 29%;}
.table-inner tr:first-child td{ font-size: 12px; line-height: 24px;}
.table-inner tr td, .tm-tble tr td{ font-size: 13px; line-height: 23px;}
.games-section > div { padding-left: 0;}
.forum-section > div { padding-right: 0; padding-left: 15px;}
.tm-group{padding: 45px 15px 35px 0;}
.ex-service-block p{padding: 0 20px; font-size: 13px; line-height: 30px;}

/***********footer-css**********/
.gallery-section { padding-left: 10px; }
.ls5 { padding-left: 25px;}
.company { padding-left: 6px;}
.footer-block ul li a{ font-size: 12px; line-height: 22px;}
.footer-block h4{font-size: 14px; line-height: 34px;}
#ftr{ padding: 15px 0 !important;}

/***********changePass-css**********/

.inner-banner figure img{ height: 220px;}
.inner-banner .carousel-caption { bottom: -11px;}

/***********faq-css**********/
.card-header h5 a{font-size: 16px; line-height: 26px;}
.card-body p{font-size: 14px; line-height: 24px;}

/***********forum-css**********/
.top-content{padding-left: 66px;}
.forum-topright{float: left; width: 100%; margin-bottom: 20px;}
.search-bar{width: 59%;}
.pendingPics-tbl{width: 100%; overflow-x: scroll;}

.forum-tbl tr:first-child th{font-size: 11px; line-height: 16px; text-align: center !important;}
.forum-tbl tr td{font-size: 12px; line-height: 21px;}
.forum-tbl tr td:first-child span:last-child small{font-size: 10px;}
.forum-tbl tr td:nth-child(2) a{font-size: 12px; line-height: 18px;}
.forum-tbl tr td:nth-child(3){font-size: 13px !important; line-height: 23px;}

.forum-tbl tr th:last-child:after, .forum-tbl tr th:nth-child(3):after, .forum-tbl tr th:nth-child(4):after, .forum-tbl tr th:nth-child(5):after{display: none !important; }

.profileDrop{ margin-left: 9px;}

.profileDrop li a{font-size: 11px; line-height: 21px;padding: 10px 5px !important;}

/***********login-css**********/
.or{ display: none;}
.login-form { padding-right: 30px; }
.social-button{padding: 80px 0 80px 30px;}
.or-signup{display: block !important;}

.form-group.dateOfBirth > div{margin-right: 8px;}

/***********forum-detail-css**********/
.detailTop-left h2{font-size: 20px; line-height: 30px;}
.comment-box section:last-child { width: 92%; }
.comment-box .form-control{width: 80%;}
.comment-btn{ width: 20%;}

/***********game-lines-css**********/
  .seletpop tr th{padding: 16px 14px; text-align: center; font-size: 14px; line-height: 24px;}
  .seletpop tr td{padding: 16px 14px;}
  .seletpop tr th span:before{left: 9.7px;}
  .seletpop tr td{font-size: 12px !important; line-height: 20px !important;}

 /***********pending-pics-css**********/
  .pop2Tbl tr:first-child th{ font-size: 13px;}
  .pendingPics-tbl tr th span{width: 10px; height: auto;margin-left: 3px;}
  .pop2Tbl tr td{font-size: 14px; line-height: 23px;}
  .pop2Tbl tr td:nth-child(3) span{font-size: 14px;}

  /***********spread-leader-css**********/
  .sl-tbl table tr:first-child th{line-height: 20px;}
  .sl-tbl table tr:first-child th span{display: none;}
  .sl-tbl table tr:first-child th {font-size: 12px;}
  .sl-tbl table tr td{font-size: 13px; line-height: 23px;}
  .sl-tbl tr th, .sl-tbl tr td{padding: 16px 9px !important;text-align: center !important;}
  .top-content h2{font-size: 22px; line-height: 32px;}
  .montYear{margin-top: -5px;}
}


@media(min-width: 481px) and (max-width: 767px){
	/***********header-css**********/
.social-left{width: 30%;}
.social-link a{width: 30px; height: 30px; line-height: 26px; margin-right: 4px;}
.social-link a i{font-size: 13px !important;}
.social-link{ padding: 32px 0px !important;}
.navbar{padding: 32px 10px !important;}
.navbar-brand img{width: 55% !important;}
header .col-md-8{width: 25% !important;}
.navbar-toggler{display: none;}
.navbar-collapse{display: none;}
.brandCenter{left: -4px; top: 10px !important; width: 110px !important;}
.lj-right{width: 45% !important;}
.lj-group{padding: 32px 0px 32px 18px !important;}
.lj-group a:last-child{ width: 80px; padding: 4px 0;}
.lj-group a{font-size: 11px;}
.lj-group a:first-child { margin-right: 10px;}
.lj-group a:last-child{width: 72px; padding: 2px 0;}

/***********banner-css**********/
.carousel-caption p{font-size: 14px; line-height: 24px;padding: 0 15px;}
.carousel-caption h1{font-size: 28px; line-height: 30px;}
.carousel-caption { bottom: -19px; display: block !important; right: 0; left: 0; margin: auto;}
.banner figure img{height: 230px;}

/***********table1-css**********/
.table-inner tr td span:first-child{width: 28%;}
.table-inner tr td{font-size: 12px; line-height: 22px;}
.table-inner tr:first-child td{font-size: 11px;line-height: 21px;}
.table td h2 { font-size: 17px; line-height: 34px;}
.user-table table tr td a{font-size: 11px; line-height: 17px;  width: 85px;}

/***********table2-css**********/
.games-section > div { padding-left: 3px; padding-right: 3px;}
.forum-section > div {padding-right: 3px; padding-left: 3px;}
.tm-tble tr td{font-size: 12px; line-height: 18px;}
.tm-tble tr td:first-child{font-size: 12px; line-height: 22px;}
.company, .gallery-section, .ls5 { padding-left: 0;}

/***********profile-pop1-css**********/
.modal-dialog{width: auto;}
#exampleModal .table-chart, .pending-tbl{width: 100%; overflow-x: scroll;}
.modal-footer a:first-child{margin-right: 0; margin-bottom: 20px;}
.table-chart table tr th{font-size: 15px; line-height: 25px;}
.table-chart table tr td{ font-size: 13px; line-height: 23px;}
.table-chart table tr td:first-child{font-size: 13px; line-height: 23px;}
.block-tbl tr td:first-child, .block-tbl tr td{font-size: 13px; line-height: 23px;}

/***********pop2Tbl-css**********/
.pop2Tbl tr:first-child th{font-size: 13px; line-height: 20px; padding: 12px 7px;}
.pop2Tbl tr td{ font-size: 13px; line-height: 21px; padding: 14px 7px;}

.mobile-stckyFooter{display: block;}
footer{margin-bottom: 63px; }

/***********changePass-css**********/
.contact-body form{width: 92%;}
.locEmail-group a:first-child { margin-right: 0; margin-bottom: 30px;}

/***********forum-css**********/
.search-bar{width: 60%;}
.search-bar .form-control{width: 84%; font-size: 12px; padding: 20px 10px;}
.search-bth{ width: 8%;}
.forum-topright a{font-size: 12px; width: 35%;}
.top-content h2{ margin-left: 5px;}
.forum-topright{ margin-bottom: 20px; width: 100%;}

.forum-group .col-md-9{top: 27%; position: absolute; z-index: 555; background-color: #fff;}
.my-pics{position: relative;}
.myPic-btn{float: left; display: block;}
.forum-tbl{ margin-top: 116px;}
.pendingPics-tbl{width: 100%; overflow-x: scroll;}

.forum-tbl tr:first-child th{font-size: 11px; line-height: 16px; text-align: center !important;}
.forum-tbl tr td{font-size: 12px; line-height: 21px;}
.forum-tbl tr td:first-child span:last-child small{font-size: 10px;}
.forum-tbl tr td:nth-child(2) a{font-size: 12px; line-height: 18px;}
.forum-tbl tr td:nth-child(3){font-size: 13px !important; line-height: 23px;}

/***********login-css**********/
.login-form { padding-right: 0;}
.social-button{padding: 80px 0 80px 0;}
.login-body:after{display: none;}

.or{ top: 53%; width: 100%; text-align: center;}
.or:before{content: ''; width: 39%; height: 1px; background-color: #c4c4c4; left: 10px; top: 14px; position: absolute;}
.or:after{content: ''; width: 39%; height: 1px; background-color: #c4c4c4; right: 10px; top: 14px; position: absolute;}
.or-signup{display: block !important;}

.mobile-stckyFooter ul li a{ padding: 5px 11px;}
.form-group.dateOfBirth > div{ margin-right: 12px;}
.or-signup{top: 65%;}
.signUp:before{display: none; }

.mobile-stckyFooter ul li a{ padding: 5px 11px;}

/***********forum-detail-css**********/
  .profile-top{text-align: right;}
  .profileDrop{margin-left: 9px; z-index: 8;}
  .carousel-caption{z-index: 5;}
  .detailTop-left h2{font-size: 18px; line-height: 28px;}
  .detailTop-right a{float: left;margin-top: 15px;}
  .forumdetail-search{width: 97% !important; margin-top: 10px;}
  .search-right a{margin-top: 10px;}
  .detail-group { padding: 15px 0 5px 0;}
  .commment-user section small{font-size: 12px; line-height: 12px;}
  .commment-user section h4{font-size: 16px; line-height: 16px;}
  .top-comment ul li a, .user-reply ul li a{font-size: 12px; line-height: 22px;}
  .commentgroup-btn{font-size: 11px; line-height: 21px;margin-top: 0px;width: 86px; padding: 4px 0;}

  .comment-box section:last-child { width: 99%;}
  .comment-box section:first-child{display: none;}
  .comment-box .form-control{ width: 65%; font-size: 14px;}
  .comment-btn{ width: 35%; font-size: 12px;}
  .user-reply{margin-left: 30px;}

  .quote-word p{ font-size: 13px; line-height: 23px;}
  .quote-word h3{font-size: 15px; line-height: 15px;}
  .user-reply{padding: 45px 0 30px 0;}

  #ftr{padding: 15px 0 10px 0px !important;}

  /***********answer-pop-css**********/
  .answer-group span:last-child { width: 88%; }
  .answer-group span:first-child{width: 24px; height: 24px;font-size: 12px; line-height: 22px;}
  .answer-group span p{font-size: 14px; line-height: 24px;}
  .question-form form .form-group .fc-control{height: 65px !important;font-size: 13px;line-height: 23px;}

}

@media(max-width: 480px){

/***********header-css**********/
.social-left{width: 30%;}
.social-link a{width: 30px; height: 30px; line-height: 26px; margin-right: 4px;}
.social-link a i{font-size: 13px !important;}
.social-link{ padding: 32px 0px !important;}
.navbar{padding: 32px 10px !important;}
.navbar-brand img{width: 55% !important;}
header .col-md-8{width: 25% !important;}
.navbar-toggler{display: none;}
.navbar-collapse{display: none;}
.brandCenter{left: -4px; top: 10px !important; width: 110px !important;}
.lj-right{width: 45% !important;}
.lj-group{padding: 32px 0px 32px 18px !important;}
.lj-group a:last-child{ width: 80px; padding: 4px 0;}
.lj-group a{font-size: 11px;}
.lj-group a:first-child { margin-right: 10px;}
.lj-group a:last-child{width: 72px; padding: 2px 0;}

/***********banner-css**********/
.carousel-caption p{font-size: 14px; line-height: 24px;padding: 0 15px;}
.carousel-caption h1{font-size: 28px; line-height: 30px;}
.carousel-caption { bottom: -19px; display: block !important; right: 0; left: 0; margin: auto;}
.banner figure img{height: 230px;}

/***********table1-css**********/
.table-inner tr td span:first-child{width: 28%;}
.table-inner tr td{font-size: 12px; line-height: 22px;}
.table-inner tr:first-child td{font-size: 11px;line-height: 21px;}
.table td h2 { font-size: 17px; line-height: 34px;}
.user-table table tr td a{font-size: 11px; line-height: 17px;  width: 85px;}

/***********table2-css**********/
.games-section > div { padding-left: 3px; padding-right: 3px;}
.forum-section > div {padding-right: 3px; padding-left: 3px;}
.tm-tble tr td{font-size: 12px; line-height: 18px;}
.tm-tble tr td:first-child{font-size: 12px; line-height: 22px;}
.company, .gallery-section, .ls5 { padding-left: 0;}

/***********profile-pop1-css**********/
.modal-dialog{width: auto;}
#exampleModal .table-chart, .pending-tbl{width: 100%; overflow-x: scroll;}
.modal-footer a:first-child{margin-right: 0; margin-bottom: 20px;}
.table-chart table tr th{font-size: 15px; line-height: 25px;}
.table-chart table tr td{ font-size: 13px; line-height: 23px;}
.table-chart table tr td:first-child{font-size: 13px; line-height: 23px;}
.block-tbl tr td:first-child, .block-tbl tr td{font-size: 13px; line-height: 23px;}

/***********pop2Tbl-css**********/
.pop2Tbl tr:first-child th{font-size: 13px; line-height: 20px; padding: 12px 7px;}
.pop2Tbl tr td{ font-size: 13px; line-height: 21px; padding: 14px 7px;}

.mobile-stckyFooter{display: block;}
footer{margin-bottom: 63px; }

/***********changePass-css**********/
.contact-body form{width: 92%;}
.locEmail-group a:first-child { margin-right: 0; margin-bottom: 30px;}

/***********faq-css**********/
.faq-body { padding: 80px 0;}
.card-header h5 a{font-size: 15px; line-height: 23px;}
.card-header h5 a i{ margin-top: 10px;}
.card-body p{font-size: 13px; line-height: 23px;}

/***********forum-css**********/
.search-bar{width: 60%;}
.search-bar .form-control{width: 84%; font-size: 12px; padding: 20px 10px;}
.search-bth{ width: 8%;}
.forum-topright a{font-size: 12px; width: 35%;}
.top-content h2{ margin-left: 5px;}
.forum-topright{ margin-bottom: 20px; width: 100%;}

.forum-group .col-md-9, .my-pics .col-md-9{top: 27%; position: absolute; z-index: 555; background-color: #fff;}
.my-pics{position: relative;}
.myPic-btn{float: left; display: block;}
.forum-tbl, .gmline-tbl{ margin-top: 116px;}
.pendingPics-tbl{width: 100%; overflow-x: scroll;}

.forum-tbl tr:first-child th{font-size: 11px; line-height: 16px; text-align: center !important;}
.forum-tbl tr td{font-size: 12px; line-height: 21px;}
.forum-tbl tr td:first-child span:last-child small{font-size: 10px;}
.forum-tbl tr td:nth-child(2) a{font-size: 12px; line-height: 18px;}
.forum-tbl tr td:nth-child(3){font-size: 13px !important; line-height: 23px;}

/***********login-css**********/
.login-form { padding-right: 0;}
.social-button{padding: 80px 0 80px 0;}
.login-body:after{display: none;}

.or{ top: 53%; width: 100%; text-align: center;}
.or:before{content: ''; width: 39%; height: 1px; background-color: #c4c4c4; left: 10px; top: 14px; position: absolute;}
.or:after{content: ''; width: 39%; height: 1px; background-color: #c4c4c4; right: 10px; top: 14px; position: absolute;}
.or-signup{display: block !important;}

.mobile-stckyFooter ul li a{ padding: 5px 11px;}
.form-group.dateOfBirth > div{ margin-right: 12px;}
.or-signup{top: 65%;}
.signUp:before{display: none; }

/***********mypf-css**********/
.mpf-box {width: 95%;}

/***********forum-detail-css**********/
  .profile-top{text-align: right;}
  .profileDrop{margin-left: 9px; z-index: 8;}
  .carousel-caption{z-index: 5;}
  .detailTop-left h2{font-size: 18px; line-height: 28px;}
  .detailTop-right a{float: left;margin-top: 15px;}
  .forumdetail-search{width: 97% !important; margin-top: 10px;}
  .search-right a{margin-top: 10px;}
  .detail-group { padding: 15px 0 5px 0;}
  .commment-user section small{font-size: 12px; line-height: 12px;}
  .commment-user section h4{font-size: 16px; line-height: 16px;}
  .top-comment ul li a, .user-reply ul li a{font-size: 12px; line-height: 22px;}
  .commentgroup-btn{font-size: 11px; line-height: 21px;margin-top: 0px;width: 86px; padding: 4px 0;}

  .comment-box section:last-child { width: 99%;}
  .comment-box section:first-child{display: none;}
  .comment-box .form-control{ width: 65%; font-size: 14px;}
  .comment-btn{ width: 35%; font-size: 12px;}
  .user-reply{margin-left: 30px;}

  .quote-word p{ font-size: 13px; line-height: 23px;}
  .quote-word h3{font-size: 15px; line-height: 15px;}
  .user-reply{padding: 45px 0 30px 0;}

  #ftr{padding: 15px 0 10px 0px !important;}

  .forum-group .col-md-9 { top: 27% !important; }

  /***********answer-pop-css**********/
  .answer-group span:last-child { width: 88%; }
  .answer-group span:first-child{width: 24px; height: 24px;font-size: 12px; line-height: 22px;}
  .answer-group span p{font-size: 14px; line-height: 24px;}
  .question-form form .form-group .fc-control{height: 65px !important;font-size: 13px;line-height: 23px;}

  /***********game-lines-css**********/
  .seletpop tr th{font-size: 13px;line-height: 23px; padding: 16px 20px; text-align: center;}
  .seletpop tr td{padding: 16px 22px; font-size: 13px; line-height: 23px;}
  .gameline-btn{float: right;}
  .my-pics{ position: relative;}
  .my-pics .col-md-9{top: 33.5%;}
  .seletpop tr th span:before{left: 8.7px;}
  .gmline-tbl{ margin-top: 75px;}
  .secdeselec-pop .modal-body p{font-size: 20px; line-height: 30px;}

  /***********pending-pics-css**********/
  .pop2Tbl tr:first-child th{ font-size: 13px;}

   /***********pending-pics-css**********/
   .pendingPics-tbl tr th span{width: 0; height: auto;margin-left: 2px;}
   .pendingPics-tbl tr:first-child th{font-size: 12px;}
   .pop2Tbl tr td:nth-child(3) span{font-size: 14px;}

    /***********spread-leader-css**********/
    .top-nav ul li a{padding: 15px 8px;font-size: 14px; line-height: 24px;}
    .left-button a{background-size: cover; width: 100%; }
    .sl-pics .col-md-9{top: 32%;}
    .sl-tbl{margin-top: 129px;}
    .montYear{float: left;}
    .sl-tbl tr td span:first-child{float: none; text-align: center; margin-left: 0; }
    .sl-tbl tr td:nth-child(3) { font-size: 13px; line-height: 23px;}
    .sl-tbl tr td{padding: 0 15px !important; height: 80px;}

    .forum-tbl tr th:last-child:after, .forum-tbl tr th:nth-child(3):after, .forum-tbl tr th:nth-child(4):after, .forum-tbl tr th:nth-child(5):after{display: none !important;}

}

@media(max-width: 375px){
	.search-bar { width: 58%; }
	.forum-topright a { font-size: 11px; width: 36%;}
	.mobile-stckyFooter ul li a{ padding: 5px 6px;}
	.form-group.dateOfBirth > div{ margin-right: 10px;}
}

@media(max-width: 360px){
	.lj-group a:first-child { margin-right: 5px;}
	.mobile-stckyFooter ul li a p{font-size: 11px;}

  /***********forum-detail-css**********/
  .user-reply {margin-left: 16px;}
}